<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        </head>
    
    <body>

    <h2>Create Booking</h2>

    <form id="bookingForm" classname="container-fluid m-3">
        <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input class="form-control"  type="text" id="name" name="name" required />
        </div>
        <div>
            <label for="nationalId" classname="col-form-label">National ID</label>
            <input class="form-control"  type="text" id="nationalId" name="nationalId" required />
        </div>
        <div>
            <label for="phoneNumber" classname="col-form-label">Phone Number</label>
            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" required />
        </div>
        <div>
            <label for="hotelBranch" class="col-form-label">Hotel Branch</label>
            <select id="hotelBranch" name="hotelBranch" required>
                <!-- Options populated via JavaScript -->
            </select>
        </div>
        <div>
            <label for="checkInDate" class="col-form-label">Check-In Date</label>
            <input class="form-control"  type="date" id="checkInDate" name="checkInDate" required />
        </div>
        <div>
            <label for="checkOutDate">Check-Out Date</label>
            <input class="form-control"  type="date" id="checkOutDate" name="checkOutDate" required />
        </div>
        <input type="number" id="numberOfRooms" placeholder="Number of Rooms" required>
    <button type="button" id="nextButton">Next</button>
     
       
    </form>

    <form id="roomDetailsForm">
        <div id="roomDetailsContainer"></div>
        <button type="submit">Submit</button>
    </form>
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                // Fetch hotel branches and populate select
                $.getJSON('http://localhost:5161/api/Branch', function (res) {
                    var branchOptions = '';
                    $.each(res.data, function (index, value) {
                        branchOptions += '<option value="' + value.id + '">' + value.name + '</option>';
                    });
                    $('#hotelBranch').html(branchOptions);
                });

                $('#nextButton').on('click', function () {
                    const numberOfRooms = $('#numberOfRooms').val();
                    let roomDetailsHtml = '';

                    $.getJSON('http://localhost:5161/api/Category', function (categoryRes) {
                        var categoryOptions = {};

                        // Collect options and constraints for each room type
                        $.each(categoryRes.data, function (index, value) {
                            categoryOptions[value.id] = {
                                roomType: value.roomType,
                                maxAdults: value.maxAdults,
                                maxChildren: value.maxChildren
                            };
                        });

                        // Get rooms available for each room type
                        $.getJSON('http://localhost:5161/api/Room', function (roomRes) {
                            var roomOptions = {};

                            // Populate roomOptions based on the API response
                            $.each(roomRes.data, function (index, value) {
                                if (!roomOptions[value.roomType]) {
                                    roomOptions[value.roomType] = [];
                                }
                                roomOptions[value.roomType].push(value);
                            });

                            // Generate room details HTML
                            for (let i = 0; i < numberOfRooms; i++) {
                                roomDetailsHtml += `
                                    <div class="room-detail">
                                        <h4>Room ${i + 1}</h4>
                                        <select class="roomType" data-room-index="${i}">
                                            ${Object.keys(categoryOptions).map(key => `
                                                <option value="${key}" data-max-adults="${categoryOptions[key].maxAdults}" data-max-children="${categoryOptions[key].maxChildren}">
                                                    ${categoryOptions[key].roomType}
                                                </option>`).join('')}
                                        </select>
                                        <select class="roomNumber" id="roomNumber${i}">
                                            <!-- Room numbers will be populated dynamically -->
                                        </select>
                                        <input type="number" class="numAdults" id="numAdults${i}" placeholder="Number of Adults" required>
                                        <input type="number" class="numChildren" id="numChildren${i}" placeholder="Number of Children" required>
                                    </div>
                                `;
                            }

                            $('#roomDetailsContainer').html(roomDetailsHtml);

                            // Set the initial min/max values based on the first room type
                            $('.roomType').each(function () {
                                const roomIndex = $(this).data('room-index');
                                const $selectedOption = $(this).find('option:selected');
                                const maxAdults = $selectedOption.data('max-adults');
                                const maxChildren = $selectedOption.data('max-children');
                                $('#numAdults' + roomIndex).attr({
                                    min: 1,
                                    max: maxAdults
                                });
                                $('#numChildren' + roomIndex).attr({
                                    min: 0,
                                    max: maxChildren
                                });

                                // Populate room numbers for the selected room type
                                populateRoomNumbers(roomIndex, roomOptions[$selectedOption.val()]);
                            });

                            // Change event for roomType to update min/max values and room numbers
                            $('.roomType').on('change', function () {
                                const roomIndex = $(this).data('room-index');
                                const $selectedOption = $(this).find('option:selected');
                                const maxAdults = $selectedOption.data('max-adults');
                                const maxChildren = $selectedOption.data('max-children');
                                $('#numAdults' + roomIndex).attr({
                                    min: 1,
                                    max: maxAdults
                                });
                                $('#numChildren' + roomIndex).attr({
                                    min: 0,
                                    max: maxChildren
                                });

                                // Populate room numbers for the selected room type
                                populateRoomNumbers(roomIndex, roomOptions[$selectedOption.val()]);
                            });
                        }).fail(function () {
                            console.error('Error fetching rooms');
                        });
                    }).fail(function () {
                        console.error('Error fetching categories');
                    });
                });

                $('#roomDetailsForm').submit(function (event) {
                    event.preventDefault();

                    var rooms = [];
                    $('#roomDetailsContainer .room-detail').each(function () {
                        var room = {
                            roomType: $(this).find('.roomType').val(),
                            numberOfAdults: $(this).find('.numAdults').val(),
                            numberOfChildren: $(this).find('.numChildren').val(),
                            roomID: $(this).find('.roomNumber').val()
                        };
                        rooms.push(room);
                    });

                    var booking = {
                        name: $('#name').val(),
                        nationalId: $('#nationalId').val(),
                        phoneNumber: $('#phoneNumber').val(),
                        branchId: $('#hotelBranch').val(),
                        checkInDate: $('#checkInDate').val(),
                        checkOutDate: $('#checkOutDate').val(),
                        rooms: rooms
                    };

                    console.log("Booking: ", booking);

                    // You can add code here to send the booking data to the server
                });
            });

            function populateRoomNumbers(roomIndex, availableRooms) {
                var roomNumberOptions = '';
                if (Array.isArray(availableRooms)) {
                    availableRooms.forEach(function (room) {
                        roomNumberOptions += `<option value="${room.id}">${room.roomNumber}</option>`;
                    });
                } else {
                    console.error('Available rooms data is not an array:', availableRooms);
                }
                $('#roomNumber' + roomIndex).html(roomNumberOptions);
            }
        </script>
    }

</body>
</html>